*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(./gradient-bg.jpg);
    background-size: cover;
    display: grid;
    place-items: center;
}

.game-info{
    position: absolute;
    color: white;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(225, 225, 225, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(225, 225, 225, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}

.tik-tac-toe{
    max-width: 90%;
    min-width: 20rem;
    background-color: rgba(225, 225, 225, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(225, 225, 225, 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}

.box{
    position: relative;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box4, .box5{
    border-right: 2px solid white;
    border-bottom: 1px solid white;
}

.box3, .box6{
    border-bottom: 1px solid white;
}

.box7, .box8{
    border-right: 1px solid white;
}

.btn{
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(225, 225, 225, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(225, 225, 225, 0.25);
    padding: 0.5rem 2rem;
    cursor: pointer;
    display: none;
}

.btn.active{
    display: flex;
}

.win{
    background-color: rgba(0,255,0,0.3);
}